*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}


main{
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.box{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}

.box:last-child{
  margin-right: 0;
}

.step{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
}

.box1-image{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.box2-image{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.box3-image{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.title{
  margin: 15px 0 5px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width:768px){
  
  header{
    width: 100%;
  }
  
  main{
    width: 100%;
    display: block;
    
  }
  
  .box{
    width: 90%;
    margin-bottom: 20px;
  }
  
  .box:last-child{
  margin-bottom: 0;
}
  
  footer{
    width: 100%;
  }
  
  
}